.main-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-radius-30 {
  border-radius: 30px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.icon-color {
  color: #717171;
}
$primary: #ff5a60;
$secondary: #717171;
// $theme-colors: (
//   "primary": $primary,
// );
@media (max-width: 430px,) {
  .input-width {
    width: 100% !important;
  }
}

@media (min-width: 430px) {
  .input-width {
    width: 25% !important;
  }
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
